<form action="">
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="email"
      placeholder="email"
      appHover="blue"
      appEmailValidator
      #emailControl="ngModel"
    />
    <div>
      {{ emailControl.errors | json }}
    </div>
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="password"
      placeholder="password"
      appHover
    />
  </div>
  <div class="form-group">
    <button (click)="login()" class="btn btn-primary" type="submit">
      login
    </button>
  </div>
</form>
