<!-- <h1>hi</h1> -->

<!-- uncoment -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">user</div>
  <div *ngSwitchCase="'Admin'">admin</div>
  <div *ngSwitchCase="'Random'">admin</div>
</div> -->

<!-- uncoment -->
<!-- 
<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>this is from ng - conttnt</h1>
</app-container> -->

<!-- 
<div>
  <ng-template #user></ng-template>
</div> -->

<!-- uncoment -->
<!-- <div #name></div> -->
<!-- <a [routerLink]="'rooms'">rooms</a>
<br /><a [routerLink]="'employee'">employee</a> -->

<app-nav> </app-nav>
<!-- <router-outlet></router-outlet> -->
