<!-- <h3>wlecone to {{ hotelName }}</h3> -->
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<div [hidden]="hideHotels">
  rooms:
  <div [ngStyle]="{ color: rooms.availibleRooms > 5 ? 'green' : 'red' }">
    <div [innerText]="rooms.availibleRooms"></div>
  </div>
</div>

{{ rooms?.availibleRooms ?? "no rooms" }}
<!-- {{ roomList | json }} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<div>
  <button (click)="addRoom()">add Room</button>
</div>

<div *ngIf="hideHotels">
  <rooms-list
    (roomSelected)="selectRoom($event)"
    [rooms]="roomList"
    [title]="title"
  ></rooms-list>
</div>

<button (click)="add()">add</button>
<button (click)="toggle()">toggle</button>
