<!-- <h3>wlecone to {{ hotelName }}</h3> -->
<app-header></app-header>
<!-- <app-header></app-header>
<app-header></app-header> -->

<!-- {{ rooms$ | async | json }} -->

<div [hidden]="hideHotels">
  rooms:
  <div [ngStyle]="{ color: rooms.availibleRooms > 5 ? 'green' : 'red' }">
    <div [innerText]="rooms.availibleRooms"></div>
  </div>
</div>

<!-- {{ rooms?.availibleRooms ?? "no rooms" }} -->
<!-- {{ roomList | json }} -->

<h1>
  {{ totalBytes }}
</h1>
<h1>
  {{ getError$ | async | json }}
</h1>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<h1>room count {{ roomsCount$ | async | json }}</h1>
<div>
  <button (click)="addRoom()">add Room</button>
</div>

<div *ngIf="rooms$ | async as rooms">
  <rooms-list
    (roomSelected)="selectRoom($event)"
    [rooms]="rooms"
    [title]="title"
  ></rooms-list>
</div>

<button (click)="add()">add</button>
<button (click)="toggle()">toggle</button>
<button (click)="editRoom()">eddit</button>
<button (click)="deleteRoom()">tdelete</button>
